.post {
  width: 29%;
  margin: 0 2% 1% 2%;
}

.postImg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postCat {
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-size: 13px;
  font-style: italic;
  color: #999;
  margin-top: 15px;
}

.postDesc {
  font-size: 14px;
  line-height: 24px;
  color: #444;
  margin-top: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
